{% extends 'base.html' %}

{% block content %}
<h1>Instruments Catalogue</h1>

<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
}
</style>

<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>

<p><center>Current number of items: {{ item_count }}</center></p>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Price</th>
    </tr>

    {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.amount }}</td>
            <td>Rp{{ item.price }},00</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_item' %}">
    <button>
        Add New Product
    </button>
</a>

{% endblock content %}