<h1>Instruments Catalogue</h1>

<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
}
</style>

<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th> Amount </th>
        <th>Price</th>
    </tr>
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.amount }}</td>
        <td>Rp{{ item.price }},00</td>
    </tr>
</table>